title: Jekyll AsciiDoc Template
url: "https://pps.insyde.group"
# baseurl: "https//pps.insyde.group"
repository: https://github.com/4insyde
version: 0.3.0
#timezone: America/Los_Angeles
#logo: "/img/logo-2x.png"
description: Payment Processing System Documentations

exclude:
  - LICENSE.adoc
  - README.adoc
  - Gemfile
  - Gemfile.lock
  - Rakefile

asciidoc: {}
asciidoctor:
  base_dir: :docdir
  safe: unsafe
  attributes:
    - idseparator=_
    - source-highlighter=coderay
    - icons=font

collections:
  docs:
    permalink: "/:collection/:path/"
    output: true
  posts:
    permalink: "/news/:year/:month/:day/:title/"
    output: true
defaults:
- scope:
    path: _docs
    type: docs
  values:
    layout: docs
- scope:
    path: _posts
    type: posts
  values:
    layout: news_item
- scope:
    path: ''
  values:
    image: "/assets/logo.png"

sass:
    style: compressed
    sass_dir: _sass

footer_url: "https://www.insyde.group"
footer_text: "INSYDE, SDG"
